$bgcolor:#F6F6F6;
$boxwidth:100%;
$marginwidth:1200px;
$acolor:#666666;
$navheight:30px;
*
{
  margin: 0;
  padding: 0;
}
ul
{
  list-style: none;
}
a{
  color: #666666;
  text-decoration: none;
}
.left
{
  float: left;
}
.right{
  float: right;
}
#nav{
  width: $boxwidth;
  height: $navheight;
  background-color: $bgcolor;
  border: 1px solid gray;
  #box{
    width: 1200px;
    height: $navheight;
    margin:auto;
    color: $acolor;
    line-height: $navheight;
    font-size: 13px;
  }

}

#header{
  width:$marginwidth ;
  margin: auto;
  .logo{
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: relative;
    border: 1px solid white;
    .right li{
      float: left;
      width: 100px;
      text-align: center;
      a:hover{
        padding: 10px 10px;
        background-color: gainsboro;
      }
    }
    #hot{
      position: absolute;
      left: 655px;
      top: 17px;;
    }
  }
  .circle{
    position: relative;
    .carousel-indicators {
      position: absolute;
      bottom: 10px;
      left: 50%;
      z-index: 15;
      width: 75%;
      padding-left: 0;
      margin-left: -30%;
      text-align: right;
      list-style: none;
      .active {
        width: 12px;
        height: 12px;
        margin: 0;
        background-color: rgba(0,0,0,0.6);
      }
    }
    #bg{
      width: 240px;
      height: 340px;
      background-color: rgba(72,72,71,1);
      position: absolute;
      top: 10px;
      ul{
        color: white;
        width: 100%;
        height: 100%;
        li{
          height: 25%;
          width: 100%;
          padding-left: 50px;
          border-bottom: 1px solid gainsboro;
        }
        li:hover{
          background-color: darkgreen;
        }
      }
    }
  }
}

#con{
  width: $boxwidth;
  background-color: $bgcolor;
  .first{
    width: $marginwidth;
    margin: auto;
    font-size: 0;
  }
  .second{
    width: $marginwidth;
    height: 80px;
    margin: auto;
    .left{
      font-size: 24px;
      color: #5E5A5A;
      margin-top: 35px;
    }
    .right{
      margin-top: 35px;
    }
  }
}


#selection{
  .menu{
    width: $marginwidth;
    margin: auto;
    margin-top: 20px;
    .one{
      width: 130px;
      height: 35px;
      border: 1px solid green;
      text-align: center;
      line-height: 35px;
    }
    .ones{
      margin-left: 20px;
    }
    .two{
      width: 490px;
      height: 35px;
      border: 1px solid green;
      margin-left: 20px;
    }
    .search{
      padding: 10px 40px;
      background-color: green;
      color: white;
      margin-left: -5px;
    }
  }
  i{
    display: inline-block;
    width: 0;
    height:0;
    border-top: 4px solid green;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    margin-top: -10px;
  }
}

#datas{
  width: $marginwidth;
  height: 1000px;
  //border:1px solid red;
  margin: auto;
  .menu{
    float: left;
    width: 900px;
    height: 500px;
    //border: 1px solid black;
    .drop{
      margin-top: 25px;
      width: 100%;
      height: 50px;
      border: 1px solid #E6E6E6;
      background-color: #F7F7F7;
      line-height: 50px;
      ul{
        float: left;
        height: 100%;
        li{
          float: left;
          width: 120px;
          height: 100%;
          text-align: center;
          a{
            color: #666666;
          }
        }
        .bgdrop{
          background-color: white;
            a{
              color: green;
            }
        }
      }
      .right{
        width: 80px;
        height: 35px;
        background-color: white;
        margin-right: 20px;
        margin-top: 5px;
        text-align: center;
        line-height: 35px;
      }
    }
    .imgbox img{
      width: 100px;
      height: 100px;
    }
    .datafirst{
      width: 100%;
      height: 130px;
      border-bottom: 1px solid gainsboro;
      margin-top: 10px;
        &:hover{
          background-color: rgb(250,250,250);
          .goshop{
            display: block;
          }
        }
        a{
          color: green;
        }
        .goshop{
          width: 140px;
          height: 40px;
          border: 1px solid green;
          float: right;
          color: green;
          font-size: 20px;
          line-height: 40px;
          text-align: center;
          margin-top: 50px;
          margin-right: 10px;
          display: none;
        }
    }
  }
  .pages{
    margin-top: 20px;
    margin-left: 130px;
    span{
      padding: 15px 20px;
      border:1px solid #9F9F9F;
      color: #9F9F9F;
      text-align: center;
      cursor: pointer;
    }
    .pageone{
      background-color: #FC6621;
      color: white;
    }
  }
  .menuright{
    width: 260px;
    height: 800px;
    //border: 1px solid red;
    margin-top: 25px;
      .title{
        width: 100%;
        height: 50px;
        background-color: #F7F7F7;
          p{
            text-align: center;
            font-size: 20px;
            line-height: 50px;
          }
      }
      .goodone{
        width: 100%;
        height: 100px;
        border-bottom: 1px solid #E6E6E6;
        .goodnumber{
          margin-top: 30px;
          margin-left: 20px;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 2px solid red;
          color: red;
          line-height: 30px;
          font-size: 20px;
          text-align: center;
          font-weight: 700;
        }
        .goodimg{
          margin-left: 20px;
          width: 50px;
          height: 50px;
          border: 1px solid gainsboro;
          a{
            color: purple;
          }
        }
      }
  }
}
#bottom{
  background-color: #FAFAFA;
  .top{
    width:1100px;
    height: 160px;
    margin: auto;
    //border: 1px solid red;
    ul{
      width: 200px;
      //border: 1px solid red;
      li{
        text-align: right;
      }
    }
  }
  .footer{
    width: 350px;
    text-align: center;
    margin: auto;
    font-size: 12px;
    color: #A89292;
  }
}

